In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import time
from selenium.webdriver.common.keys import Keys

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://www.point2homes.com/US/Neighborhood/TX/Travis-County-Demographics.html#MedianIncomeByZipcode'
browser.visit(url)

In [4]:
for x in range(10):
    soup = BeautifulSoup(browser.html, 'html.parser')

    try:
        browser.find_by_xpath('/html/body/div[3]/div[3]/div/div[3]/div[9]/div[2]/div/div/div[1]/a').click()
        browser.find_by_xpath("/html/body").first.type(Keys.PAGE_DOWN)

    except:
        print("finished")
        table1 = soup.find("table", id="median-income-table")
        break

finished

In [5]:
#checking to make sure the entire table was scraped correctly
#table1

In [6]:
#looking at the find all 
#print(table1.find_all("td", {"data-header": "ZipCode"}))

In [7]:
#creating empty lists for our data
zips = []
population = []
Num_House = []
Median_income = []
Avg_income = []
#getting data repeat 4 times
results1 = table1.find_all("td", {"data-header": "ZipCode"})
for z in range(len(results1)):
    zipcode = results1[z].text
    zips.append(zipcode)

In [8]:
results2 = table1.find_all("td", {"data-header": "Population"})
for x in range(len(results2)):
    pops = results2[x].text
    population.append(pops)

In [9]:
results3 = table1.find_all("td", {"data-header": "Number of Households"})
for y in range(len(results3)):
    NumHouse = results3[y].text
    Num_House.append(NumHouse)

In [10]:
results4 = table1.find_all("td", {"data-header": "Median Income"})
for p in range(len(results4)):
    Med_inc = results4[p].text
    Median_income.append(Med_inc)

In [11]:
results5 = table1.find_all("td", {"data-header": "Average Income"})
for q in range(len(results5)):
    Avg_inc = results5[q].text
    Avg_income.append(Avg_inc)

In [12]:
#create data frame
zip_income_df = pd.DataFrame({"ZipCode": zips, "Population": population, "Number of Households": Num_House, "Median Income": Median_income, "Average Income": Avg_income})

In [13]:
#look at data
zip_income_df.head()

  ZipCode Population Number of Households Median Income Average Income
0   78610     39,498               13,284    $84,114.00    $108,413.00
1   78613     83,876               27,558   $107,983.00    $125,381.00
2   78615      1,363                  376    $70,833.00     $98,823.00
3   78617     28,376                6,981    $64,117.00     $96,277.00
4   78621     24,590                7,183    $80,100.00     $85,730.00

In [17]:
zip_income_df.to_csv('resources\zip_income_df.csv')